# Byte-compiled files
__pycache__/
*.py[cod]

# Django migrations
*.log
*.sqlite3
/db.sqlite3
/migrations/*.py
/migrations/*.pyc

# Python virtual environment
venv/
env/
ENV/
.env/
.Python

# IDE specific files
.vscode/
*.swp

#Not all of these will be used, but just in case...