<style>
    button{
      background-color: grey;
      color: white;
      font-weight: bold;
      font-size: 15px;
      border: none;
      border-radius: 3px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 7px;
      padding-right: 7px;
      cursor: pointer;
    }
    th{
      font-size: 30px;
    }
  
    a{
      font-size: 16px;
    }
  </style>
  {% extends "base.html" %}
  {% block title %} Delete Todo Items for {{team.name}} {% endblock %}
  {%block content%}
  <form method = "POST" id="deleteForm" action="{% url 'confirm_team_bulk_delete' team_id=team.id %}">
    {% csrf_token %}
    <table>
      <tr>
        <th>Select</th>
        <th>To-do Item</th>
      </tr>
      {% for item in todo_items %}
      <tr>
        <td><input type="checkbox" name="todo_ids" value="{{ item.id }}"></td>
        <td>{{ item.title }}</td>
      </tr>
      {% endfor %}
    </table>
    <button type="submit" onclick="confirmDelete()">Delete Selected Items</button>
  </form>
  
  <a href="{% url 'team_todo_page' team_id=team.id %}">Back to Todo Page</a>
  {% endblock %}
  
  <script>
    function confirmDelete() {
      event.preventDefault();
          const checkedBoxes = document.querySelectorAll('input[name="todo_ids"]:checked');
  
          if (checkedBoxes.length === 0) {
              alert("No items selected.");
              return;
          }
  
          const confirmDelete = confirm("Are you sure you want to delete the selected items?");
  
          if (confirmDelete) {
            document.getElementById('deleteForm').submit();
          }else{
            return false;
            
          }
        }
  </script>