{% extends "base.html" %}
{% block content %}
{% if request.user.is_authenticated %}
    {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success'%}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
<div  class="d-flex justify-content-end">
    <button type="button" class="btn btn-warning" onclick=window.location.href="{% url 'edit_team' team_id=team.id %}">Edit Team</button>
</div>
<div>
    <h1>{{team.name}} To-Do Page</h1>
    <p>{{team.description}}</p>
</div>

<div>
    <h2>Team Members</h2>
    <ul>
    {% for user in team.users.all %}
        <li>{{user.username}}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}


