{% extends "base.html" %}

{% block title %}Welcome To The Home Page{% endblock %}

{% block content %}
<h1>Group 5 Todo Project</h1>
{% if request.user.is_authenticated %}
    <p>{{ request.user }}</p>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <a href="{% url 'todo_page' %}">Go to Todo Page</a> 
        <button type="submit">Logout</button>
    </form>
{% else %}
    <nav>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
    </nav>
{% endif %}

{% endblock %}

{% block footer %}
{% endblock %}
