{% extends "base.html" %}
{% block title %} Todo Page {% endblock %}
{% block content %}
<h1>Todo Page</h1>
{% if request.user.is_authenticated %}

<div class="btn-group mb-3">
  <a href="?sort=due_date" class="btn btn-primary {% if sort_by == 'due_date' %}active{% endif %}">Sort by Due Date</a>
  <a href="?sort=priority" class="btn btn-secondary {% if sort_by == 'priority' %}active{% endif %}">Sort by Priority</a>
</div>

<form class="d-flex justify-content-end" role="search" method="GET">
    <input class="form-control me-2" type="search" placeholder="Search Your Todos" aria-label="Search" name="todo_search" value="{{ request.GET.todo_search }}">
    <input type="hidden" name="sort" value="{{ sort_by }}">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<div>
    {% if todos %}
        {% for todo in todos %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ todo.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{todo.due_date}} - {{todo.priority}}</h6>
                    <p class="card-text">{{ todo.description }}</p>
                    {% if todo.completed %}
                        <span style="color: green;">Completed</span>
                    {% else %}
                        <span style="color: red;">Not Completed</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No tasks</p>
    {% endif %}
</div>

{% else %}
    <p>You need to be logged in to view your todo items.</p>
{% endif %}

<style>
.btn {
  background-color: grey;
  color: white;
  border: none;
  border-radius: 7px;
}
</style>
<a href="{% url 'add_todo_item' %}" class="btn">Add To-Do Item</a>
<a href="{% url 'delete_todo_item'%}" class="btn">Delete Item</a>
{% endblock %}